@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&display=swap');
* {
  font-family: 'Asap', sans-serif;
}

.map {
  background-color: #92d6e3 !important;
  width: 100%;
  min-height: 50vh;
}

.card-thumbnail::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card:first-child {
  margin-left: 0 !important;
}

header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #000, #0000, #0000, #0000);
  z-index: 1;
}

header * {
  z-index: 2;
  position: relative;
}

h2, h3 {
  letter-spacing: normal !important;
}

.ribbon {
  background-color: #87B970;
}

.dropdown {
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 250ms;
  visibility: visible;
  top: 0;
}

.dropdown-hidden {
  top: -10% !important;
  visibility: hidden;
}

.component {
  /* transition: linear 250ms; */
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 250ms;
  visibility: visible;
  bottom: 0;
}

.component-hidden {
  bottom: -10% !important;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .component {
    top: 0%;
  }
  .component-hidden {
    top: -10% !important;
  }
}

.component-overlay .map-wrapper {
  position: absolute;
}

#map #content, .content, .content * {
  z-index: 10000;
}

.gallery-thumbnail {
  min-height: 6em;
}

.gallery-thumbnail::before {
  content: "";
  display: block;
}

.card:first-child {
  margin-left: 0 !important;
}

.popup.card {
  min-width: 137px;
  margin: 0px;
}

.popup.card .icons {
  display: flex;
  justify-content: space-around;
  margin: 4px 0px;
  width: 100%;
}

.svg-icon {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 1px;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
}

.svg-icon.has-circle {
  /** TEMPORARY FIX FOR BAD SVG */
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 50%;
  padding: 1px;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
  transform: translateY(-3px);
}

.svg-icon path, .svg-icon polygon, .svg-icon rect {
  fill: #000000;
}

.svg-icon circle {
  stroke: #000000;
  stroke-width: 1;
}

/* SwiperJS */
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  color: rgb(231, 117, 24);
}

/* hiding scrollbar */

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* custon scrollbar */
.scrollbar::-webkit-scrollbar { 
  display: block;
  width: 0.5rem;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgb(231, 117, 24);
}

.max-h-screen-90 {
  max-height: 90vh;
}

/* popup */

.popup-theme {
  animation: popup infinite;
  margin: 0 !important;
}

.leaflet-tooltip.labels {
  box-shadow: none;
  background-color: transparent;
  white-space: pre-wrap;
  width: 110px;
  text-align: center;
  border: none;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: -1.5px 0 1px #fff, 1.5px 0 1px #fff, 0 -1.5px 1px #fff, 0 1.5px 1px #fff;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: none !important;
  border-radius: 0.5rem !important;
  overflow: hidden;
}

.leaflet-touch .leaflet-bar a {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem !important;
  line-height: 26px !important;
  font-weight: normal;
}

.leaflet-container .popup-theme .leaflet-popup-content {
  margin: 0.5rem !important;
}

.leaflet-container .popup-theme .leaflet-popup-content p {
  margin: 0 !important;
}

.leaflet-container .popup-v2 .leaflet-popup-content-wrapper {
  background-color: transparent;
  background-image: url('./assets/markers/standard.svg');
  background-size: cover;
  background-position: center;
  box-shadow: none;
  max-width: 3rem;
  width: 3rem;
  height: 4rem;
  max-height: 4rem;
}

.leaflet-container .popup-v2 .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
}

.leaflet-container .popup-v2 .leaflet-popup-tip-container, .leaflet-container .popup-theme .leaflet-popup-tip-container {
  display: none;
}

.popup-theme .leaflet-popup-content-wrapper, .popup-theme .leaflet-popup-tip {
  background-image: none !important;
  color: #000 !important;
  background-color: #fff;
  /* border: 2px solid #EA8B3E; */
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#splash {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background: #fbfbfb;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
}

.page {
  height: 100vh;
  margin: auto;
  max-width: 512px;
  z-index: 11;
  opacity: 0;
}

#page0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#page0 #teaching {
  width: 40%;
}

#page0 .logo-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page0 .logo {
  width: 70%;
  margin: 1rem;
}

#page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#page1 .text {
  margin: 4rem 0;
  text-align: center;
}

#page1 h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 800;
  color: #3360a9;
}

#page1 h2 {
  font-size: 2rem;
  color: black;
  margin: 0;
  line-height: 0;
}
#page1 .logo {
opacity: 1;
margin: 0;
max-width: 70%;
}
#page1 h3 {
  color: black;
  margin: 0;
  line-height: 0;
  letter-spacing: 2px;
  font-size: 1.6rem;
}

#page2 {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#page2 img {
  width: 30%;
}

.logo {
  width: 100%;
}

#teaching_logo {
  width: 70%;
}

#oshawa_logo {
  /* padding: 2rem;
        margin-top: -10em; */
  max-width: 35%;
  float: left;
}

#durham_logo {
  max-width: 35%;
}

#welcome_line1 {
  font-size: 1.2rem;
  color: #4b5563;
  margin-bottom: -0.4rem;
}

#welcome_line2 {
  font-size: 3rem;
  font-weight: 500;
  color: #162b57;
}

#welcome_line3 {
  font-size: 1.2rem;
  color: #4b5563;
  margin-top: -0.4rem;
}

#preloader {
  width: 10%;
  margin-top: 2rem;
}